[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot
	ignore = dirty
[submodule "dots"]
	path = dots
	url = git@github.com:danielefongo/dots
	ignore = dirty
[submodule "asdf"]
	path = asdf
	url = git@github.com:asdf-vm/asdf
